{
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["import"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "indent": [
      "error",
      4
    ],
     "sort-imports": [
      "error",
      {
        "ignoreCase": true, 
        "ignoreDeclarationSort": true,
        "allowSeparatedGroups": true
      }
    ],
    "import/order": ["error"]
  }
}